<div  class="align-middle match-parent">
  <p class="text-center big-text">
      I am an excellent full stack software engineer with a background and experience in statistics,
      software engineering and business management. I have a passion for designing, engineering and
      automating data driven technological solutions that can help minimize overheads in decision
      making process. My main areas of expertise are web and mobile apps development. I work best in a
      team as well as an individual.  
  </p>
</div>
