/* You can add global styles to this file, and also import other style files */
body {
    background-image: url('assets/images/bgimage.jpg');
    color: #ffffff !important;
}

.main-frame {
  margin-top: 5%;
  width: 1200px;
}
  
.bordered-box {
  border:1px solid #ffffff;
}
  
.divider {
  height: 10px;
}